.todo {
   background-color: white;
   width: 30%;
   margin: auto;
   margin-top: 90px;
   height: 600px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: rgb(221, 214, 187);
   padding: 0px 15px 10px;
   box-sizing: border-box;
   border-radius: 10px;
}

h1 {
   color: rgb(129, 147, 117);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.list {
   height: 100%;
   margin-top: 10px;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.allT {
   height: 270px;
   overflow-y: scroll;
   overflow-block: hidden;
}

.list2 {
   height: 135px;
   overflow-y: scroll;
}

.allT::-webkit-scrollbar {
   width: 10px;
}

.allT::-webkit-scrollbar-track {
   background-color: rgba(129, 147, 117, 0.363);
}

.allT::-webkit-scrollbar-thumb {
   box-shadow: inset 0 0 6px rgb(129, 147, 117);
}

.list2::-webkit-scrollbar {
   width: 10px;
}

.list2::-webkit-scrollbar-track {
   background-color: rgba(129, 147, 117, 0.363);
}

.list2::-webkit-scrollbar-thumb {
   box-shadow: inset 0 0 6px rgb(129, 147, 117);
}

.btn2 {
   margin-top: 0px;
   margin-bottom: 10px;
   color: rgb(218, 218, 218);
   background-color: rgb(129, 147, 117, .8);
   border: 1px solid rgb(129, 147, 117, .8);
   border-radius: 5px;
   height: 25px;
   padding-left: 7px;
   margin-right: 7px;
   cursor: pointer;
}

.btn2:hover {
   box-shadow: 0px 0px 5px rgb(129, 147, 117);
   transition: .3s;
}

.lower {
   width: 100%;
}

.input {
   width: 81%;
   color: rgb(218, 218, 218);
   height: 40px;
   border-radius: 5px;
   border: none;
   margin-right: 5px;
   padding-left: 7px;
   font-size: 1.1em;
   background-color: rgb(129, 147, 117, .9);
}

::placeholder {
   color: rgb(218, 218, 218);
   opacity: 1;
}

.btn1 {
   width: 15%;
   height: 42px;
   border: none;
   background-color: rgb(129, 147, 117, .9);
   border-radius: 5px;
   font-size: 1.1em;
   cursor: pointer;
   color: rgb(218, 218, 218);
}

.btn1:hover {
   box-shadow: 0px 0px 5px rgb(129, 147, 117);
   transition: .3s;
}

.item {
   margin-bottom: 5px;
   background-color: rgb(255, 255, 255, 0.4);
   height: 50px;
   border-radius: 5px;
   padding-left: 7px;
   line-height: 50px;
   font-size: 1.2em;
   margin-right: 7px;
   color: rgb(129, 147, 117);
}

.itemChecked {
   margin-bottom: 5px;
   background-color: rgb(255, 255, 255, 0.4);
   height: 50px;
   border-radius: 5px;
   padding-left: 7px;
   line-height: 50px;
   font-size: 1.2em;
   margin-right: 7px;
   color: rgb(129, 147, 117);
   text-decoration: line-through;
}

.check {
   width: 17px;
   height: 17px;
   cursor: pointer;
}