.App {
    width: 60%;
    margin: auto;
    margin-top: 30px;
}

.list {
    text-align: left;
    list-style-position: outside;
    margin-bottom: 30px;
    min-height: 160px;
    padding-left: 100px;
}

button{
    margin-left: 10px;
    margin-bottom: 10px;
}