.todo {
   background-color: white;
   width: 30%;
   margin: auto;
   margin-top: 90px;
   height: 550px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: rgb(228, 228, 228);
   padding: 0px 15px 25px;
   box-sizing: border-box;
   border-radius: 15px;
}

h1 {
   color: rgb(128, 128, 128);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.list {
   height: 460px;
   margin-bottom: 10px;
   width: 100%;
   display: flex;
   flex-direction: column-reverse;
   overflow-y: scroll;
}

.list::-webkit-scrollbar {
   width: 10px;
}

.list::-webkit-scrollbar-track {
   background-color: rgb(212, 212, 212);
}

.list::-webkit-scrollbar-thumb {
   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

.lower {
   width: 100%;
}

.input {
   width: 81%;
   height: 40px;
   border-radius: 15px;
   border: none;
   margin-right: 5px;
   padding-left: 7px;
   font-size: 1.1em;
}

button {
   width: 15%;
   height: 40px;
   border: none;
   background-color: white;
   border-radius: 15px;
   font-size: 1.1em;
   cursor: pointer;
   color: rgb(128, 128, 128);
}

button:hover {
   border: 2px solid rgb(161, 161, 161);
}

.item {
   margin-bottom: 10px;
   background-color: white;
   height: 50px;
   border-radius: 15px;
   padding-left: 7px;
   line-height: 50px;
   font-size: 1.2em;
   margin-right: 7px;
}