.detailCard {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 30%;
   margin: auto;
   background-color: rgb(221, 214, 187);
   padding: 20px;
   margin-top: 100px;
   color: rgb(115, 128, 106);
   border-radius: 10px;
}

.detailBtn {
   margin-top: 0px;
   margin-bottom: 10px;
   color: rgb(218, 218, 218);
   background-color: rgb(129, 147, 117, .8);
   border: 1px solid rgb(129, 147, 117, .8);
   border-radius: 5px;
   height: 35px;
   width: 70px;
   padding-left: 7px;
   margin-right: 7px;
   cursor: pointer;
   font-size: 1.1em;
}

.detailBtn:hover {
   box-shadow: 0px 0px 5px rgb(129, 147, 117);
   transition: .3s;
}

.check1 {
   width: 30px;
   height: 30px;
   flex: .2;
}